{% extends 'base.html.twig' %}

{% block title %}Listado Eventos{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="carousel.css">
{% endblock %}


{% block body %}
{{ include('navBar.html.twig') }}
<div class="container-fluid mb-15 container-top">
	<div class="container mt-15">
		{{ include('carousel.html.twig') }}
	</div>
	<div class="container mt-15">
		<div class="panel panel-primary">
		  <div class="panel-heading"><i class="fa fa-list mr-5"></i>Eventos</div>
		  <div class="panel-body">
			<table class="table table-hover table-bordered" id="listEvent">
				<thead>
					<th>Id</th>
					<th>Código de país</th>
					<th>Navegador</th>
					<th>Dirección Ip</th>
					<th>Clave del evento</th>
					<th>Fecha Creación</th>
				</thead>
				<tbody>
				    {% for event in events %}
				    <tr>
				    	<td>{{ event.id }}</td>
				    	<td>{{ event.codeCountry }}</td>
				    	<td>{{ event.userAgent }}</td>
				    	<td>{{ event.ipAddress }}</td>
				    	<td>{{ event.codeEvent }}</td>
				    	<td>{{ event.createdAt|date("Y-m-d H:i:s a") }}</td>
				    </tr>
				    {% endfor %}
				    <tr>
				    	<td>id</td>
				    	<td>codeCountry</td>
				    	<td>userAgent</td>
				    	<td>ipAddress</td>
				    	<td>codeEvent</td>
				    	<td>createdAt|date("Y-m-d H:i:s a")</td>
				    </tr>
				    <tr>
				    	<td>id</td>
				    	<td>codeCountry</td>
				    	<td>userAgent</td>
				    	<td>ipAddress</td>
				    	<td>codeEvent</td>
				    	<td>createdAt|date("Y-m-d H:i:s a")</td>
				    </tr>
				<tbody>
			</table>
		  </div>
		</div>
	</div>
</div>
{{ include('footer.html.twig') }}
{% endblock %}
